<launch>
    <node pkg="xloc_ros_wrapper"
          type="xloc_ros_node"
          name="xloc_ros_node"
          output="screen"
    >
        <param name="use_sim_time" value="false"/>
    </node>
    
    <!-- Start the C API-based xloc node in addition to the C++ node -->
    <!-- <node pkg="xloc_ros_wrapper"
          type="xloc_ros_node_capi"
          name="xloc_ros_node_capi"
          output="screen"
    >
        <param name="use_sim_time" value="false"/>
    </node> -->
</launch>